@font-face {
  font-family: 'Bariol';
  src:  asset-url('bariol_regular.woff2') format('woff2'),
        asset-url('bariol_regular.woff') format('woff');
}
@font-face {
  font-family: 'Bariol-bold';
  src:  asset-url('bariol_bold.woff2') format('woff2'),
        asset-url('bariol_bold.woff') format('woff');
}

p {
  margin: 0;
  + p {
    margin-top: 10px;
  }
}
a {
  color: $primary-green;
}
strong {
  font-family: $font-bold;
  font-weight: normal;
}
.text--l {
  font-size: em(48);
}
.text--m {
  font-size: em(20);
  line-height: 1.5;
}
.text--s {
  font-size: em(14);
}
.text--center {
  text-align: center;
}
.text--muted {
  color: #8A8A8A;
}
.text--error {
  color: #FF3D4A;
}
