h1.text--l I'm a large heading
h2.text--m I'm a medium heading
p.text--m I'm a regular sized paragraph
p.text--s I'm a small size paragraph
br
button.button--clear I'm a clear button
br
a.button--clear href="#" I'm a clear link
br
button.button I'm a button
br
a.button href="#" I'm a link
br
button.button--large I'm a big button
br
a.button--large href="#" I'm a big link
br
a href="#" I'm a normal link
